.advert-products {
  // margin: 0rem 1rem;
  margin: 2.4rem 1rem;

  display: block;

  @include respond(tab-land) {
    margin: 0rem 1rem;
  }

  @include respond(phone) {
    display: flex;
    justify-content: space-around;
  }
}

.advert-product {
  margin: 2.4rem auto;
  max-width: 300px;
  max-height: 300px;

  @include respond(phone) {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin: 0rem 0.5rem;
  }

  @include respond(tab-land) {
    width: 200px;
    height: 200px;
  }

  @include respond(desktop) {
    width: 300px;
    height: 300px;
  }

  &__image,
  img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
