.advert-products {
  display: block;

  @include respond(phone) {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
  }
}

.advert-product {
  margin: 2.4rem auto;
  // margin: 2.4rem 2rem;
  max-width: 300px;
  max-height: 300px;

  @include respond(phone) {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin: 0rem 0.5rem;
  }

  // @include respond(tab-land) {
  //   width: 200px;
  //   height: 200px;
  //   margin: 0 auto;
  //   margin: 2.4rem 2rem;
  // }

  &__image,
  img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
