.btn {
  border: none;
  cursor: pointer;
  background: none;

  &-link {
    color: $gray-color-dark;
    font-weight: 300;
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
  }
}
