.product-carousel {
  background: $white-color;
  padding: 1.6rem 1rem;
  margin: 2rem 0;
  // position: relative;
  overflow: hidden;

  @include respond(desktop) {
    // grid-template-columns: repeat(2, minmax(130px, 1fr));
    // display: block;
    // grid-template-columns: repeat(auto-fit, minmax(230px, 270px));
  }
  &__inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: $primary-color-dark-2;
  }

  &__list {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // grid-template-columns: repeat(auto-fit, minmax(230px, 270px));
    // grid-auto-columns: minmax(230px, 1fr);
    // grid-auto-flow: column;
    // overflow-x: hidden;
    // gap: 1rem;
    // overflow-x: scroll;

    @include respond(phone) {
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(230px, 270px));
      // grid-auto-columns: minmax(230px, 1fr);
      // grid-auto-flow: column;
      // overflow-x: hidden;
      // gap: 1rem;
      // overflow-x: scroll;
    }
    &-item {
      width: 100%;
      padding: 1rem 1.6rem;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.03);
        box-shadow: 0 1px 10px 0 rgba($black-color, 10%);
      }

      &__img {
        margin: 0 auto 1rem auto;
        max-width: 125px;
        max-height: 125px;

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-size: 1.3rem;
        margin-top: 1rem;
        font-weight: 600;
      }
      &__description {
        font-size: 1.3rem;
        font-weight: 300;
      }
      &__price {
        font-size: 1.4rem;
        margin: 2rem 0;
        font-weight: 600;
      }
      &__btn {
        border-radius: 20px;
        font-size: 1.2rem;
        text-align: center;
        background-color: $primary-color;
        color: $white-color;
        padding: 0.5rem 1rem;
      }

      // @include respond(phone) {
      //   &:last-child {
      //     grid-column: 1 / -1;
      //   }
      // }
    }
  }
}
