@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sBtn {
  color: inherit;
  border: none;
  background-color: inherit;
  padding: 1.4rem 2.4rem;
  border: 2px solid #ddd;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
// @mixin respond($breakpoint) {
//   @if $breakpoint == phone {
//     @media only screen and (max-width: 37.5em) {
//       @content;
//     } //600px
//   }
//   @if $breakpoint == tab-port {
//     @media only screen and (max-width: 56.25em) {
//       @content;
//     } //900px
//   }
//   @if $breakpoint == tab-land {
//     @media only screen and (max-width: 75em) {
//       @content;
//     } //1200px
//   }
//   @if $breakpoint == big-desktop {
//     @media only screen and (min-width: 112.5em) {
//       @content;
//     } //1800
//   }
// }
@mixin respond($breakpoint) {
  @if $breakpoint == sm-phone {
    @media only screen and (min-width: 26.56em) {
      @content;
    } //425px
  }
  @if $breakpoint == phone {
    @media only screen and (min-width: 38.75em) {
      @content;
    } //620px
  }
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 64em) {
      @content;
    } //1024px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) {
      @content;
    } //1280px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 96em) {
      @content;
    } //1536px
  }
}

@mixin b-visual {
  border: 1px solid green;
}
