// Colors
$primary-color: #005aaa;
$primary-color-dark: #003268;
$primary-color-dark-2: #053a7f;
$primary-color-light: #003268;
$primary-color-light-2: #00aaef;

$secondary-color: #f2fbff;

$gray-color: #333;
$gray-color-dark: #222;
$gray-color-light: #e5eef6;
$gray-color-1: rgba(78, 78, 78, 0.25);

$white-color: #fff;
$black-color: #000;
$red-color: #c00;

$border-color: #d9dee1;

$default-font-size: 1.6rem;

.container {
  margin: 0 1rem;
}

.text-red {
  color: $red-color;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.primary-color {
  background: $primary-color;
}
.secondary-color {
  background: $secondary-color;
}
.primary-color-light-2 {
  background: $primary-color-light-2;
}

/**
// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


**/
