.sub-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  color: $gray-color-dark;
  background: $white-color;

  &-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.75rem;
    height: 55px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }
  }
}
